.field {
  position: relative;
}

.input {
  box-sizing: border-box;
  width: 100%;
  background: #252631;
  color: #EFF3FF;
  border-radius: 8px;
  border: 1px solid #9AA8BA;
  padding: 16px 18px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #252631 inset !important;
}

.input:-webkit-autofill{
  -webkit-text-fill-color: #EFF3FF;
}

.input:focus {
  outline: none;
}

.input.error {
  border-color: #E83B3B;
}

.input::placeholder {
  color: #EFF3FF;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.error {
  color: #E83B3B;
}

.errorMessage {
  margin-top: 8px;
  min-height: 22px;
  color: #E83B3B;
}

.button {
  color: #FFF;
  border-radius: 35px;
  background: #2D76F9;
  border: none;
  padding: 20px 87px;
  cursor: pointer;

  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.button:hover {
  background: #0359F3;
}

.button:disabled {
  background: #9AA8BA;
  cursor: default;
}

.label {
  display: none;
  background: #252631;
  position: absolute;
  padding: 0 14px 0 10px;
  top: -10px;
  left: 30px;
}

.label.active {
  display: block;
}

.success {
  color: #8FD97D;
}
