.App {
  text-align: left;
}

.container {
  box-sizing: border-box;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.regular {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */    
}

.h1, .h2, .h3 {
  font-family: Rubik;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

.h1 {
  font-size: 38px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 24px;
}